# Ignore Environment files
.env
.env.prod

# Ignore dependencies
node_modules/
vendor/

# Ignore build output
dist/

# Ignore default theme.
themes/twentytwentyfive/

# Ignore compose overrides for local development.
docker-compose.override.yml