// Dimensions for the theme mode switch.
$theme-mode-switch-width: 40px;
$theme-mode-switch-height: 20px;
$theme-mode-switch-slider-width: 12px;
$theme-mode-switch-slider-height: 12px;
$theme-mode-switch-slider-radius: 50%;

// Colors for the theme mode switch.
$theme-mode-switch-slider-bg-color: #FFFFFF;
$theme-mode-switch-slider-bg-color-checked: #525252;
$theme-mode-switch-slider-bg-color-default: #CCCCCC;